Repository ansys/ansys-tools-local-product-launcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: [tomli]
    exclude: "tests/"

- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]

  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Remove ansys_root helper module
  doc/source/api/helpers/ansys_root.rst
  doc/source/api/helpers/index.rst
  doc/source/plugin_creation.rst
  src/ansys/tools/local_product_launcher/helpers/__init__.py
  src/ansys/tools/local_product_launcher/helpers/ansys_root.py
  tests/test_helpers/test_get_ansys_root.py
Due: mypy-code, mypy-tests

Fix doc, add poetry pre-commit check
  .pre-commit-config.yaml
  doc/source/conf.py
  doc/source/plugin_creation.rst
  poetry.lock
Due: none

Remove ansys_root helper module (#44)
  .pre-commit-config.yaml
  doc/source/api/helpers/ansys_root.rst
  doc/source/api/helpers/index.rst
  doc/source/conf.py
  doc/source/plugin_creation.rst
  poetry.lock
  src/ansys/tools/local_product_launcher/helpers/__init__.py
  src/ansys/tools/local_product_launcher/helpers/ansys_root.py
  tests/test_helpers/test_get_ansys_root.py
Due: mypy-code, mypy-tests

Add timeout argument to stop()
  doc/source/plugin_creation.rst
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/test_integration/simple_test_launcher.py
  tests/test_integration/test_simple_launcher.py
Due: mypy-code, mypy-tests

Add timeout argument to stop() (#46)
  doc/source/plugin_creation.rst
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/test_integration/simple_test_launcher.py
  tests/test_integration/test_simple_launcher.py
Due: mypy-code, mypy-tests

Use formatted printing for config JSON
  src/ansys/tools/local_product_launcher/config.py
Due: mypy-code

Use formatted printing for config JSON (#48)
  src/ansys/tools/local_product_launcher/config.py
Due: mypy-code

Fix heading capitalization
  README.rst
  doc/source/api/config.rst
  doc/source/api/helpers/grpc.rst
  doc/source/api/helpers/ports.rst
  doc/source/api/index.rst
  doc/source/api/interface.rst
  doc/source/api/launch.rst
  doc/source/api/product_instance.rst
  doc/source/cli.rst
  doc/source/index.rst
  doc/source/intro.rst
  doc/source/plugin_creation.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

Fix more vale warnings
  doc/source/intro.rst
  doc/source/plugin_creation.rst
  doc/source/rationale.rst
Due: none

Fix usage of CLI
  doc/source/plugin_creation.rst
Due: none

Fix vale errors (#61)
  README.rst
  doc/source/api/config.rst
  doc/source/api/helpers/grpc.rst
  doc/source/api/helpers/ports.rst
  doc/source/api/index.rst
  doc/source/api/interface.rst
  doc/source/api/launch.rst
  doc/source/api/product_instance.rst
  doc/source/cli.rst
  doc/source/index.rst
  doc/source/intro.rst
  doc/source/plugin_creation.rst
  doc/source/rationale.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

Fix ansys/actions org
  .github/workflows/ci_cd.yml
Due: none

Fix ansys/actions org (#62)
  .github/workflows/ci_cd.yml
Due: none

Update vale configuration
  doc/.vale.ini
Due: none

Update vale configuration (#98)
  doc/.vale.ini
Due: none

Update supported Python versions
  .github/workflows/ci_cd.yml
  README.rst
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Add and run pyupgrade
  .pre-commit-config.yaml
  doc/source/plugin_creation.rst
  poetry.lock
  pyproject.toml
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/conftest.py
  tests/test_cli/test_single_plugin.py
Due: mypy-code, mypy-tests

Update pre-commit hooks
  .pre-commit-config.yaml
  README.rst
Due: none

Fix tox.ini configuration
  tox.ini
Due: none

Remove style and doc check from matrix
  tox.ini
Due: none

Update python versions (#99)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  README.rst
  doc/source/plugin_creation.rst
  poetry.lock
  pyproject.toml
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/conftest.py
  tests/test_cli/test_single_plugin.py
  tox.ini
Due: mypy-code, mypy-tests

Use grouped dependabot updates, switch to weekly
  .github/dependabot.yml
Due: none

Use grouped dependabot updates, switch to weekly (#100)
  .github/dependabot.yml
Due: none

Fix entrypoint handling, add test
  poetry.lock
  pyproject.toml
  src/ansys/tools/local_product_launcher/_plugins.py
  tests/pkg_with_entrypoint/poetry.lock
  tests/pkg_with_entrypoint/pyproject.toml
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/__init__.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/launcher.py
  tests/test_entry_point.py
Due: mypy-code, mypy-tests

Fix entrypoint handling, add test (#109)
  poetry.lock
  pyproject.toml
  src/ansys/tools/local_product_launcher/_plugins.py
  tests/pkg_with_entrypoint/poetry.lock
  tests/pkg_with_entrypoint/pyproject.toml
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/__init__.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/launcher.py
  tests/test_entry_point.py
Due: mypy-code, mypy-tests

Adapt to labeler v5
  .github/labeler.yml
  .github/workflows/label.yml
Due: none

Add pre-commit hook for license headers
  .pre-commit-config.yaml
  src/ansys/tools/local_product_launcher/__init__.py
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/__init__.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/conftest.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/__init__.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/launcher.py
  tests/test_cli/__init__.py
  tests/test_cli/common.py
  tests/test_cli/conftest.py
  tests/test_cli/test_multiple_plugins.py
  tests/test_cli/test_single_plugin.py
  tests/test_entry_point.py
  tests/test_integration/__init__.py
  tests/test_integration/simple_test_launcher.py
  tests/test_integration/simple_test_server.py
  tests/test_integration/test_simple_launcher.py
  tests/test_metadata.py
  tests/test_plugins/conftest.py
  tests/test_plugins/test_plugins.py
Due: mypy-code, mypy-tests

Update doc style check
  .github/workflows/ci_cd.yml
Due: none

Add workflow_dispatch to CI
  .github/workflows/ci_cd.yml
Due: none

Add pre-commit hook for license headers (#120)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  src/ansys/tools/local_product_launcher/__init__.py
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/__init__.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/conftest.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/__init__.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/launcher.py
  tests/test_cli/__init__.py
  tests/test_cli/common.py
  tests/test_cli/conftest.py
  tests/test_cli/test_multiple_plugins.py
  tests/test_cli/test_single_plugin.py
  tests/test_entry_point.py
  tests/test_integration/__init__.py
  tests/test_integration/simple_test_launcher.py
  tests/test_integration/simple_test_server.py
  tests/test_integration/test_simple_launcher.py
  tests/test_metadata.py
  tests/test_plugins/conftest.py
  tests/test_plugins/test_plugins.py
Due: mypy-code, mypy-tests

Add more CLI commands
  doc/source/intro.rst
  src/ansys/tools/local_product_launcher/_cli.py
Due: mypy-code

Add more CLI commands (#121)
  doc/source/intro.rst
  src/ansys/tools/local_product_launcher/_cli.py
Due: mypy-code

Add AUTHORS file
  AUTHORS
Due: none

Add AUTHORS file (#122)
  AUTHORS
Due: none

Allow extending the returned ProductInstance class
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/launch.py
  tests/test_cli/test_multiple_plugins.py
  tests/test_entry_point.py
  tests/test_plugins/test_plugins.py
Due: mypy-code, mypy-tests

Update pre-commit hooks
  .pre-commit-config.yaml
  doc/source/conf.py
  tests/conftest.py
Due: mypy-tests

Allow extending the returned ProductInstance class (#124)
  .pre-commit-config.yaml
  doc/source/conf.py
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/launch.py
  tests/conftest.py
  tests/test_cli/test_multiple_plugins.py
  tests/test_entry_point.py
  tests/test_plugins/test_plugins.py
Due: mypy-code, mypy-tests

Remove option to create custom product instance subclass
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/launch.py
  tests/conftest.py
  tests/test_cli/test_multiple_plugins.py
  tests/test_entry_point.py
  tests/test_plugins/test_plugins.py
Due: mypy-code, mypy-tests

Remove option to create custom product instance subclass (#125)
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/launch.py
  tests/conftest.py
  tests/test_cli/test_multiple_plugins.py
  tests/test_entry_point.py
  tests/test_plugins/test_plugins.py
Due: mypy-code, mypy-tests

Add the ability to define a fallback launch mode
  doc/source/plugin_creation.rst
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/launch.py
  tests/pkg_with_entrypoint/pyproject.toml
  tests/test_entry_point.py
Due: mypy-code, mypy-tests
