Repository ansys/ansys-tools-local-product-launcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/asottile/pyupgrade
  rev: v3.18.0
  hooks:
  - id: pyupgrade
    args: [--py39-plus]

- repo: https://github.com/psf/black
  rev: 24.10.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort

- repo: https://github.com/pycqa/flake8
  rev: 7.1.1
  hooks:
  - id: flake8

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    additional_dependencies: ["tomli"] # needed to parse pyproject.toml
    exclude: '^poetry\.lock|pyproject\.toml$'

- repo: https://github.com/python-poetry/poetry/
  rev: '1.8.0'
  hooks:
  - id: poetry-check
    name: "poetry: check pyproject.toml syntax"
  # We're slightly abusing the 'poetry-lock' hook, by running
  # 'poetry lock --check' instead of 'poetry lock'
  - id: poetry-lock
    name: "poetry: check poetry.lock consistency"
    args: ['--check']
    files: '^(pyproject\.toml|poetry\.lock)$'

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: [tomli]
    exclude: "^(tests/|examples/example_scripts/)"

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.4.3
  hooks:
  - id: add-license-headers
    args: ["--start_year", "2022"]

- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]

  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Drop Python 3.9 support (#202)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/interface.py
  tests/pkg_with_entrypoint/pyproject.toml
  tests/test_cli/test_single_plugin.py
  tests/test_integration/simple_test_launcher.py
  tox.ini
Due: mypy-code, mypy-tests

Show the prev / next button
  doc/source/conf.py
Due: none

Show the prev / next button (#206)
  doc/source/conf.py
Due: none

Add Python 3.13 support
  .github/workflows/ci_cd.yml
  pyproject.toml
  tox.ini
Due: none

Loosen test dependencies upper version
  poetry.lock
  pyproject.toml
Due: none

Add Python 3.13 support (#213)
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Update license header year
  LICENSE
  examples/example_httpserver_plugin/src/example_httpserver_plugin/__init__.py
  examples/example_httpserver_plugin/src/example_httpserver_plugin/launcher.py
  examples/example_scripts/cli_configure.py
  examples/example_scripts/py_configure.py
  src/ansys/tools/local_product_launcher/__init__.py
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/__init__.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/conftest.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/__init__.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/launcher.py
  tests/test_cli/__init__.py
  tests/test_cli/common.py
  tests/test_cli/conftest.py
  tests/test_cli/test_multiple_plugins.py
  tests/test_cli/test_single_plugin.py
  tests/test_entry_point.py
  tests/test_integration/__init__.py
  tests/test_integration/simple_test_launcher.py
  tests/test_integration/simple_test_server.py
  tests/test_integration/test_simple_launcher.py
  tests/test_metadata.py
  tests/test_plugins/conftest.py
  tests/test_plugins/test_plugins.py
Due: mypy-code, mypy-tests

Update poetry lockfile
  poetry.lock
Due: none

Update and run pre-commit hooks
  .pre-commit-config.yaml
  tests/conftest.py
Due: mypy-tests

Fix link to ansys-tools-path
  doc/source/conf.py
  doc/source/user_guide/plugin_creation.rst
Due: none

Update license header year (#216)
  .pre-commit-config.yaml
  LICENSE
  doc/source/conf.py
  doc/source/user_guide/plugin_creation.rst
  examples/example_httpserver_plugin/src/example_httpserver_plugin/__init__.py
  examples/example_httpserver_plugin/src/example_httpserver_plugin/launcher.py
  examples/example_scripts/cli_configure.py
  examples/example_scripts/py_configure.py
  poetry.lock
  src/ansys/tools/local_product_launcher/__init__.py
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/__init__.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/conftest.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/__init__.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/launcher.py
  tests/test_cli/__init__.py
  tests/test_cli/common.py
  tests/test_cli/conftest.py
  tests/test_cli/test_multiple_plugins.py
  tests/test_cli/test_single_plugin.py
  tests/test_entry_point.py
  tests/test_integration/__init__.py
  tests/test_integration/simple_test_launcher.py
  tests/test_integration/simple_test_server.py
  tests/test_integration/test_simple_launcher.py
  tests/test_metadata.py
  tests/test_plugins/conftest.py
  tests/test_plugins/test_plugins.py
Due: mypy-code, mypy-tests

Add type parameters to finalize
  src/ansys/tools/local_product_launcher/product_instance.py
Due: mypy-code

Add typing-extensions dependency
  poetry.lock
  pyproject.toml
Due: none

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Due: none

Add SECURITY.md file
  SECURITY.md
Due: none

Add SECURITY.md file (#240)
  SECURITY.md
Due: none

chore: update CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Due: none

chore: update CONTRIBUTING.md file
  CONTRIBUTING.md
Due: none

Implement gRPC transport options
  .pre-commit-config.yaml
  src/ansys/tools/local_product_launcher/__init__.py
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_vendored/cyberchannel.py
  src/ansys/tools/local_product_launcher/grpc_transport.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/test_integration/simple_test_launcher.py
  tests/test_integration/simple_test_server.py
  tests/test_integration/test_simple_launcher.py
Due: mypy-code, mypy-tests

Fix pre-commit errors
  src/ansys/tools/local_product_launcher/grpc_transport.py
  src/ansys/tools/local_product_launcher/interface.py
  tests/test_integration/simple_test_launcher.py
Due: mypy-code, mypy-tests

Add grpc_transport API doc
  doc/source/api/grpc_transport.rst
  doc/source/api/index.rst
Due: none

Remove tools-path intersphinx
  doc/source/conf.py
  doc/source/user_guide/plugin_creation.rst
Due: none

Implement gRPC transport options (#257)
  .pre-commit-config.yaml
  doc/source/api/grpc_transport.rst
  doc/source/api/index.rst
  doc/source/conf.py
  doc/source/user_guide/plugin_creation.rst
  src/ansys/tools/local_product_launcher/__init__.py
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_vendored/cyberchannel.py
  src/ansys/tools/local_product_launcher/grpc_transport.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/test_integration/simple_test_launcher.py
  tests/test_integration/simple_test_server.py
  tests/test_integration/test_simple_launcher.py
Due: mypy-code, mypy-tests
