Repository ansys/ansys-tools-local-product-launcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    args: [--py310-plus]

- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 6.0.0
  hooks:
  - id: isort

- repo: https://github.com/pycqa/flake8
  rev: 7.1.1
  hooks:
  - id: flake8

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies: ["tomli"] # needed to parse pyproject.toml
    exclude: '^poetry\.lock|pyproject\.toml$'

- repo: https://github.com/python-poetry/poetry/
  rev: '1.8.0'
  hooks:
  - id: poetry-check
    name: "poetry: check pyproject.toml syntax"
  # We're slightly abusing the 'poetry-lock' hook, by running
  # 'poetry lock --check' instead of 'poetry lock'
  - id: poetry-lock
    name: "poetry: check poetry.lock consistency"
    args: ['--check']
    files: '^(pyproject\.toml|poetry\.lock)$'

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: [tomli]
    exclude: "^(tests/|examples/example_scripts/)"

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.5.1
  hooks:
  - id: add-license-headers
    args: ["--start_year", "2022"]

- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)|(_vendored)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]

  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Bump version to 0.2.0
  pyproject.toml
Due: none

Fix version check
  tests/test_metadata.py
Due: mypy-tests

Bump dev version to 0.3.dev0
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

Fix version check (#259)
  tests/test_metadata.py
Due: mypy-tests

Bump dev version to 0.3.dev0 (#258)
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

Fix release to Github
  .github/workflows/ci_cd.yml
Due: none

Fix release to Github (#260)
  .github/workflows/ci_cd.yml
Due: none

Fix GitHub release (backport to 0.2) (#261)
  .github/workflows/ci_cd.yml
Due: none

maint: Deprecate library in favour of `ansys-tools-common`
  README.rst
  pyproject.toml
  src/ansys/tools/local_product_launcher/__init__.py
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/__init__.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
Due: mypy-code

fix: Update locks
  poetry.lock
  pyproject.toml
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/pkg_with_entrypoint/poetry.lock
Due: mypy-code

fix: Pre-commit issues
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/__init__.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
Due: mypy-code

fix: pre-commit
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/helpers/__init__.py
Due: mypy-code

fix: Add deps as test deps
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix: Update lock
  poetry.lock
Due: none

fix: deps
  poetry.lock
  pyproject.toml
Due: none

fix: test issues
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/helpers/__init__.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
Due: mypy-code

fix: typo
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
Due: mypy-code

fix: imports
  src/ansys/tools/local_product_launcher/_plugins.py
Due: mypy-code

maint: Add deprecation warning to docs
  doc/source/index.rst
Due: none

fix: Conftest
  tests/conftest.py
Due: mypy-tests

fix: Docs
  doc/source/conf.py
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  tests/conftest.py
Due: mypy-code, mypy-tests

fix: docs
  doc/source/conf.py
Due: none

fix: Ignore warnings
  doc/source/conf.py
Due: none

fix: Docs
  doc/source/conf.py
Due: none

fix: Missing import
  src/ansys/tools/local_product_launcher/__init__.py
Due: mypy-code

fix: pre-commit
  src/ansys/tools/local_product_launcher/__init__.py
Due: mypy-code

Update README.rst
  README.rst
Due: none

fix: underline
  README.rst
Due: none

Bump version 0.3.0
  pyproject.toml
Due: none

Bump version 0.3.0
  tests/test_metadata.py
Due: mypy-tests
