Repository ansys/ansys-tools-local-product-launcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Add the ability to define a fallback launch mode (#126)
  doc/source/plugin_creation.rst
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/launch.py
  tests/pkg_with_entrypoint/pyproject.toml
  tests/test_entry_point.py
Due: mypy-code, mypy-tests

Hide __fallback__ launch mode from configuration CLI
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/interface.py
Due: mypy-code

Hide __fallback__ launch mode from configuration CLI (#127)
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/interface.py
Due: mypy-code

Fix the `is_configured` implementation
  src/ansys/tools/local_product_launcher/config.py
Due: mypy-code

Fix the `is_configured` implementation (#128)
  src/ansys/tools/local_product_launcher/config.py
Due: mypy-code

cicd: adding wheelhouse and reorganizing stages
  .github/workflows/ci_cd.yml
Due: none

cicd: missing release stages
  .github/workflows/ci_cd.yml
Due: none

fix: license start year
  .pre-commit-config.yaml
  LICENSE
  src/ansys/tools/local_product_launcher/__init__.py
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/__init__.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/conftest.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/__init__.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/launcher.py
  tests/test_cli/__init__.py
  tests/test_cli/common.py
  tests/test_cli/conftest.py
  tests/test_cli/test_multiple_plugins.py
  tests/test_cli/test_single_plugin.py
  tests/test_entry_point.py
  tests/test_integration/__init__.py
  tests/test_integration/simple_test_launcher.py
  tests/test_integration/simple_test_server.py
  tests/test_integration/test_simple_launcher.py
  tests/test_metadata.py
  tests/test_plugins/conftest.py
  tests/test_plugins/test_plugins.py
Due: mypy-code, mypy-tests

fix: license start year (#132)
  .pre-commit-config.yaml
  LICENSE
  src/ansys/tools/local_product_launcher/__init__.py
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/__init__.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
  tests/conftest.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/__init__.py
  tests/pkg_with_entrypoint/src/pkg_with_entrypoint/launcher.py
  tests/test_cli/__init__.py
  tests/test_cli/common.py
  tests/test_cli/conftest.py
  tests/test_cli/test_multiple_plugins.py
  tests/test_cli/test_single_plugin.py
  tests/test_entry_point.py
  tests/test_integration/__init__.py
  tests/test_integration/simple_test_launcher.py
  tests/test_integration/simple_test_server.py
  tests/test_integration/test_simple_launcher.py
  tests/test_metadata.py
  tests/test_plugins/conftest.py
  tests/test_plugins/test_plugins.py
Due: mypy-code, mypy-tests

(tech review) cicd: missing stages (#131)
  .github/workflows/ci_cd.yml
Due: none

Restructure documentation top bar
  doc/source/index.rst
  doc/source/user_guide/cli.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/plugin_creation.rst
  doc/source/user_guide/rationale.rst
Due: none

Remove self from top bar
  doc/source/index.rst
  doc/source/user_guide/index.rst
Due: none

(tech review) main: bump main Python version
  .github/workflows/ci_cd.yml
Due: none

Reorganize documentation top bar (#133)
  doc/source/index.rst
  doc/source/user_guide/cli.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/plugin_creation.rst
  doc/source/user_guide/rationale.rst
Due: none

maint: upload code coverage results (HTML)
  .github/workflows/ci_cd.yml
Due: none

Add PDF documentation build
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/user_guide/rationale.rst
  tox.ini
Due: none

maint: upload code coverage results (HTML) (#135)
  .github/workflows/ci_cd.yml
Due: none

feat: badges
  README.rst
Due: none

feat: metadata
  pyproject.toml
Due: none

(tech review) main: bump main Python version (#134)
  .github/workflows/ci_cd.yml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Add CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: none

Add PDF documentation build (#136)
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/user_guide/rationale.rst
  tox.ini
Due: none

Remove ansys_sphinx_theme from extensions list
  doc/source/conf.py
  doc/source/index.rst
  poetry.lock
Due: none

Remove ansys_sphinx_theme from extensions list (#139)
  doc/source/conf.py
  doc/source/index.rst
  poetry.lock
Due: none

Add CONTRIBUTORS.md (#138)
  CONTRIBUTORS.md
Due: none

Add an example plugin
  doc/source/.gitignore
  doc/source/conf.py
  doc/source/index.rst
  doc/source/user_guide/plugin_creation.rst
  examples/README.md
  examples/example_httpserver_plugin/pyproject.toml
  examples/example_httpserver_plugin/src/example_httpserver_plugin/__init__.py
  examples/example_httpserver_plugin/src/example_httpserver_plugin/launcher.py
  examples/example_scripts/cli_configure.py
  examples/example_scripts/index.rst
  examples/example_scripts/plugin.rst
  examples/example_scripts/py_configure.py
  poetry.lock
  pyproject.toml
  src/ansys/tools/local_product_launcher/_cli.py
Due: mypy-code, mypy-tests

Fix pre-commit issues
  .pre-commit-config.yaml
  doc/source/conf.py
  examples/example_httpserver_plugin/src/example_httpserver_plugin/launcher.py
  examples/example_httpserver_plugin/src/example_httpserver_plugin/py.typed
  examples/example_scripts/cli_configure.py
  examples/example_scripts/py_configure.py
  poetry.lock
  pyproject.toml
Due: mypy-tests

Add an example plugin (#140)
  .pre-commit-config.yaml
  doc/source/.gitignore
  doc/source/conf.py
  doc/source/index.rst
  doc/source/user_guide/plugin_creation.rst
  examples/README.md
  examples/example_httpserver_plugin/pyproject.toml
  examples/example_httpserver_plugin/src/example_httpserver_plugin/__init__.py
  examples/example_httpserver_plugin/src/example_httpserver_plugin/launcher.py
  examples/example_httpserver_plugin/src/example_httpserver_plugin/py.typed
  examples/example_scripts/cli_configure.py
  examples/example_scripts/index.rst
  examples/example_scripts/plugin.rst
  examples/example_scripts/py_configure.py
  poetry.lock
  pyproject.toml
  src/ansys/tools/local_product_launcher/_cli.py
Due: mypy-code, mypy-tests

Increase the gRPC receive message limit to 256 MB
  src/ansys/tools/local_product_launcher/product_instance.py
Due: mypy-code

Increase the gRPC receive message limit to 256 MB (#142)
  src/ansys/tools/local_product_launcher/product_instance.py
Due: mypy-code

Edits to non-API files
  README.rst
  doc/source/api/index.rst
  doc/source/contribute.rst
  doc/source/index.rst
  doc/source/intro.rst
  doc/source/user_guide/cli.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/plugin_creation.rst
  doc/source/user_guide/rationale.rst
  examples/example_scripts/cli_configure.py
  examples/example_scripts/index.rst
  examples/example_scripts/plugin.rst
  examples/example_scripts/py_configure.py
  poetry.lock
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
Due: mypy-code, mypy-tests

Fix Vale issues
  doc/.vale.ini
  doc/source/contribute.rst
  doc/source/user_guide/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

Fix bad doc link
  doc/source/intro.rst
Due: none

PY file edits for API
  doc/source/_static/README.md
  doc/styles/Vocab/ANSYS/accept.txt
  src/ansys/tools/local_product_launcher/__init__.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
Due: mypy-code

Minor edits based on scanning rendered doc
  doc/source/contribute.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  examples/example_scripts/cli_configure.py
  examples/example_scripts/plugin.rst
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
Due: mypy-code, mypy-tests

fix: docstring
  src/ansys/tools/local_product_launcher/interface.py
Due: mypy-code

Apply suggestions from code review
  README.rst
  doc/source/contribute.rst
  doc/source/intro.rst
  doc/source/user_guide/plugin_creation.rst
  examples/example_scripts/cli_configure.py
  examples/example_scripts/plugin.rst
Due: mypy-tests

Update doc/source/user_guide/index.rst
  doc/source/user_guide/index.rst
Due: none

Overall doc review for public release (#143)
  README.rst
  doc/.vale.ini
  doc/source/_static/README.md
  doc/source/api/index.rst
  doc/source/contribute.rst
  doc/source/index.rst
  doc/source/intro.rst
  doc/source/user_guide/cli.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/plugin_creation.rst
  doc/source/user_guide/rationale.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/example_scripts/cli_configure.py
  examples/example_scripts/index.rst
  examples/example_scripts/plugin.rst
  examples/example_scripts/py_configure.py
  poetry.lock
  src/ansys/tools/local_product_launcher/__init__.py
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/helpers/ports.py
  src/ansys/tools/local_product_launcher/interface.py
  src/ansys/tools/local_product_launcher/launch.py
  src/ansys/tools/local_product_launcher/product_instance.py
Due: mypy-code, mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|^(examples/)
  mypy-tests: any of: ^(tests/)|^(examples/) and \.py$
