Repository ansys/ansys-tools-local-product-launcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/asottile/pyupgrade
  rev: v3.15.0
  hooks:
  - id: pyupgrade
    args: [--py39-plus]

- repo: https://github.com/psf/black
  rev: 24.1.1
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort

- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: "poetry\\.lock"

- repo: https://github.com/python-poetry/poetry/
  rev: '1.7.0'
  hooks:
  - id: poetry-check
    name: "poetry: check pyproject.toml syntax"
  # We're slightly abusing the 'poetry-lock' hook, by running
  # 'poetry lock --check' instead of 'poetry lock'
  - id: poetry-lock
    name: "poetry: check poetry.lock consistency"
    args: ['--check']
    files: '^(pyproject\.toml|poetry\.lock)$'

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: [tomli]
    exclude: "^(tests/|examples/example_scripts/)"

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.2.8
  hooks:
  - id: add-license-headers
    args: ["--start_year", "2022"]

- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]

  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Update list of contributors
  CONTRIBUTORS.md
Due: none

Move rationale up also in the ToC
  doc/source/user_guide/index.rst
Due: none

Fix show_config if only certain launch modes are unconfigured
  src/ansys/tools/local_product_launcher/_cli.py
Due: mypy-code

Fix show_config if only certain launch modes are unconfigured (#145)
  src/ansys/tools/local_product_launcher/_cli.py
Due: mypy-code

Use launch mode defaults when available if not configured
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/config.py
  tests/test_entry_point.py
Due: mypy-code, mypy-tests

Improve CI/CD parallelism
  .github/workflows/ci_cd.yml
Due: none

Use launch mode defaults when available if not configured (#149)
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/config.py
  tests/test_entry_point.py
Due: mypy-code, mypy-tests

Improve CI/CD parallelism (#150)
  .github/workflows/ci_cd.yml
Due: none

Show help when 'configure' is called without product name
  src/ansys/tools/local_product_launcher/_cli.py
Due: mypy-code

Show help when 'configure' is called without product name (#153)
  src/ansys/tools/local_product_launcher/_cli.py
Due: mypy-code

Use ansys action for build-library step
  .github/workflows/ci_cd.yml
Due: none

Use ansys action for build-library step (#154)
  .github/workflows/ci_cd.yml
Due: none

fix: urls
  .github/workflows/label.yml
  README.rst
  doc/source/conf.py
  doc/source/contribute.rst
  examples/example_scripts/plugin.rst
  pyproject.toml
Due: none

fix: urls (#156)
  .github/workflows/label.yml
  README.rst
  doc/source/conf.py
  doc/source/contribute.rst
  examples/example_scripts/plugin.rst
  pyproject.toml
Due: none

MAINT: Bump version to v0.1.0
  poetry.lock
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

cicd: enable codecov
  .github/workflows/ci_cd.yml
Due: none

MAINT: Bump version to v0.2.dev0
  poetry.lock
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

cicd: enable codecov (#157)
  .github/workflows/ci_cd.yml
Due: none

Run apt-get update before install
  .github/workflows/ci_cd.yml
Due: none

Move vocabularies directories
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
  doc/styles/config/vocabularies/CustomVocab/accept.txt
  doc/styles/config/vocabularies/CustomVocab/reject.txt
Due: none

fix: version switcher
  doc/source/conf.py
Due: none

fix: version switcher (#168)
  doc/source/conf.py
Due: none

Remove upper limits on dependencies
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Due: none

Update poetry lockfile
  poetry.lock
Due: none

Fix sphinx caching
  doc/source/conf.py
Due: none

fix: uploading docs require user and email
  .github/workflows/ci_cd.yml
Due: none

fix: uploading docs require user and email (#197)
  .github/workflows/ci_cd.yml
Due: none

Update AUTHORS and CONTRIBUTORS.md
  AUTHORS
  CONTRIBUTORS.md
Due: none

Update AUTHORS and CONTRIBUTORS.md (#198)
  AUTHORS
  CONTRIBUTORS.md
Due: none

Remove upper bounds on dependencies
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  LICENSE
  poetry.lock
  pyproject.toml
Due: none

Fix unpicklable sphinx config
  doc/source/conf.py
Due: none

Remove upper bounds on dependencies (#200)
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  LICENSE
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Due: none

Update logo config
  doc/source/conf.py
Due: none

Update logo config for ansys-sphinx-theme (#201)
  doc/source/conf.py
Due: none

Drop Python 3.9 support
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/ansys/tools/local_product_launcher/_cli.py
  src/ansys/tools/local_product_launcher/_plugins.py
  src/ansys/tools/local_product_launcher/config.py
  src/ansys/tools/local_product_launcher/helpers/grpc.py
  src/ansys/tools/local_product_launcher/interface.py
  tests/pkg_with_entrypoint/pyproject.toml
  tests/test_cli/test_single_plugin.py
  tests/test_integration/simple_test_launcher.py
  tox.ini
Due: mypy-code, mypy-tests
